@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}


button {
    background: transparent;
}

#root {
    overflow-x: hidden;
}


:root {
    --color-primary: #4fc3f7;
    --color-link: #d7b56d;
    --color-bg: #2d2da5;
    --color-bg-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --transition: all 0.5s ease;

    --container-width-lg: 92%;
    --container-width-md: 85%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--color-white);
    color: var(--color-white);
    line-height: 1.7;
    overflow-x: hidden;
    font-size: 16px;
}



/* general */
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.625rem;
}

section {
    margin-bottom: 4.4rem;
}

section>h2,
section>h5 {
    text-align: center;
}


section h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
}


.text_light {
    color: var(--color-light)
}



.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn_primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}


.swiper-pagination-clickable .swiper-pagination-bullet-active {
    background: var(--color-primary);
}



/* ===== middle devices */
@media screen and (max-width: 1024px) {
    body h2 {
        font-size: 1.75rem;
    }
}


/* ===== small devices */
@media screen and (max-width: 680px) {}